* { margin: 0; padding: 0; font-family: Microsoft Yahei, Arial, Helvetica; }
.fl { float: left; }
.fr { float: right; }

/*banner of title */
.portrait { width: 110px; height: 110px; border-radius: 110px;  /* padding: 10px; */ margin: 10px; vertical-align: middle; }
.portrait:after { content: "."; display: block; visibility: hidden; }
.div-title { width: 500px; margin: 0 auto; }
.div-title h3 { display: inline; }

/*  navigator */
.div-guide { background: rgba(1, 1, 1, 0.6); }
.ul-guide { width: 800px; height: 54px; margin: 0 auto; }
.ul-guide>li { list-style-type: none; width: 198px; height: 54px; line-height: 54px; float: left; border-bottom: 4px solid #FFF; font-size: 18px; text-align: center; }
.ul-guide>li.last {  /*border:none;*/
position: relative; }
.ul-guide>li.last::after { content: "2"; line-height: 22px; display: block; width: 24px; height: 24px; border-radius: 24px; background: #d00; position: absolute; font-size: 18px; right: 54px; color: #fff; top: -8px; }
.ul-guide>li a:hover { border: none; -webkit-animation-name: swing; animation-name: swing; -webkit-animation-duration: 0.75s; animation-duration: 0.75s }
.ul-guide>li.last.active::after { display: none; }
.ul-guide>li.active { border-bottom-color: #6c9; background-color: rgba(102, 204, 153, 0.31); border-radius: 0 0 4px 4px; }
.ul-guide>li>a { color: #ffffe0; display: block; text-decoration: none; }

/* tab of content */
.div-tab { width: 803px; margin: 1.5em auto; position: relative; display: none; }
.div-tab>span { float: center; vertical-align: middle; }
.tab-home { text-align: center; }

/* namecard */
.div-namecard { background-color: #FFFFCC; width: 530px; height: 222px; border: 1px dashed black; border-radius: 10px; margin: 0 auto; position: relative; }
.div-namecard .show-ds { position: absolute; right: -80px; bottom: 4px; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 4px; color: #fff; background-color: #31b0d5; border-color: #269abc; }
.div-namecard>div { width: 300px; float: left; margin-top: 37px; margin-left: 4px; line-height: 36px; }
.div-namecard a { width: 50%; display: inline-block; text-decoration: none; color: #666666; text-align: left; }
.div-namecard span { width: 36%; text-align: right; display: inline-block; }
.div-namecard p { width: 100%; color: #CC6633; font-size: 0.9em; }
.img-sns { float: right; width: 200px; height: 200px; border-radius: 200px; margin: 10px; background-color: transparent; }
.img-sns:hover { -webkit-animation-name: shake-slow; animation-name: shake-slow; -webkit-animation-duration: 2s; animation-duration: 2s }
.ds-thread { display: none; }

/* dialog box */
.div-diabox { width: 200px; border-style: solid; border-width: 1px; border-radius: 10px; border-color: #CCCC33; background-color: #FFFFFF; position: absolute;  /* position for real */ margin: 0; padding: 30px; top: 0px; left: 320px; }
.div-diabox .arrow-bottom-out { width: 0px; height: 0px; border-style: solid; border-color: #CCCC33 transparent transparent transparent; border-width: 10px; position: absolute; bottom: -20px; left: 50px; }
.div-diabox .arrow-bottom-in { width: 0px; height: 0px; border-style: solid; border-color: #FFFFFF transparent transparent transparent; border-width: 10px; position: absolute; bottom: -19px; left: 50px; }
.div-diabox .photo { float: left; width: 100px; height: 100px; border-radius: 100px; margin: 10px;  /*border: 1px solid transparent;*/ background-color: transparent; position: absolute; bottom: -120px; left: 0px; }

/*other-page-guide*/
.div-page-url { width: 200px; height: auto; border-style: solid; border-width: 1px; border-radius: 10px; border-color: #CCCC33; background-color: rgba(235, 235, 31, 0.39); position: relative; margin: 0; padding: 30px; top: 0px; left: 20px; text-align: left; }
.div-page-url ul li { list-style-type: circle; margin-bottom: 10px; }
.div-page-url ul li a { text-decoration: none; color: #848484; }
.div-page-url ul li a:hover { text-decoration: underline; color: #69c; }
.active { display: block; }

/* skill table */
.skill-back { background-color: rgba(204, 255, 153, 0.27); width: 800px; height: 300px; border: 1px dashed #000; }
.tab-about { width: 800px;  /*height: 300px;*/ }
.tab-about .sf-ex-card { width: 300px; margin: 0 auto; position: relative;}
.tab-about .sf-ex-card:hover { -webkit-animation: rotate_turn ease 5s; -moz-animation: rotate_turn ease 5s; animation: rotate_turn ease 5s; }
@-webkit-keyframes rotate_turn {
  20% { -webkit-transform: rotate3d(0, 0, 1, -72deg); right: 0px; }
  40% { -webkit-transform: rotate3d(0, 0, 1, -144deg); right: -300px; }
  60% { -webkit-transform: rotate3d(0, 0, 1, -216deg); right: 0px; }
  80% { -webkit-transform: rotate3d(0, 0, 1, -288deg); right: 300px; }
  100% { -webkit-transform: rotate3d(0, 0, 1, 0deg); right: 0px; }
}
@-moz-keyframes rotate_turn {
  20% { -moz-transform: rotate3d(0, 0, 1, -72deg); right: 0px; }
  40% { -moz-transform: rotate3d(0, 0, 1, -144deg); right: -300px; }
  60% { -moz-transform: rotate3d(0, 0, 1, -216deg); right: 0px; }
  80% { -moz-transform: rotate3d(0, 0, 1, -288deg); right: 300px; }
  100% { -moz-transform: rotate3d(0, 0, 1, 0deg); right: 0px; }
}
@keyframes rotate_turn {
  20% { transform: rotate3d(0, 0, 1, -72deg); right: 0px; }
  40% { transform: rotate3d(0, 0, 1, -144deg); right: -300px; }
  60% { transform: rotate3d(0, 0, 1, -216deg); right: 0px; }
  80% { transform: rotate3d(0, 0, 1, -288deg); right: 300px; }
  100% { transform: rotate3d(0, 0, 1, 0deg); right: 0px; }
}
/* new css for ukulele */
.ukubox { width: 100px; height: 250px; border-style: solid; border-width: 0px; border-radius: 10px; border-color: #CCCC33; background-color: #FFFFFF; position: relative; margin: 0 auto; padding: 30px; top: 30px; -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -o-transform: rotate(60deg); transform: rotate(60deg); }
.ukubox * { position: absolute; }
.ukubox .ukuhead { width: 34px; height: 46px; background-color: #CC6600; border-radius: 8px; top: 16px; left: 64px; }
.ukubox .knob { width: 5px; height: 5px; background-color: #fcfcfc; border-radius: 5px; }
.ukubox .knob.g { box-shadow: -1px -1px 1px 0px black inset; top: 10px; left: 5px; }
.ukubox .knob.g-out { width: 5px; height: 10px; background-color: #fcfcfc; border-radius: 50%; box-shadow: -1px -1px 1px 0px black inset; top: 8px; left: -5px; }
.ukubox .knob.c { box-shadow: -1px -1px 1px 0px black inset; bottom: 10px; left: 5px; }
.ukubox .knob.c-out { width: 5px; height: 10px; background-color: #fcfcfc; border-radius: 50%; box-shadow: -1px -1px 1px 0px black inset; bottom: 8px; left: -5px; }
.ukubox .knob.e { box-shadow: 1px -1px 1px 0px black inset; top: 10px; right: 5px; }
.ukubox .knob.e-out { width: 5px; height: 10px; background-color: #fcfcfc; border-radius: 50%; box-shadow: 1px -1px 1px 0px black inset; top: 8px; right: -5px; }
.ukubox .knob.a { box-shadow: 1px -1px 1px 0px black inset; bottom: 10px; right: 5px; }
.ukubox .knob.a-out { width: 5px; height: 10px; background-color: #fcfcfc; border-radius: 50%; box-shadow: 1px -1px 1px 0px black inset; bottom: 8px; right: -5px; }
.ukubox .g-str { width: 1px; height: 33px; background-color: #fff; bottom: 1px; left: 11px; -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); transform: rotate(-10deg); }
.ukubox .c-str { width: 1px; height: 10px; background-color: #fff; bottom: 1px; left: 8px; -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); transform: rotate(-10deg); }
.ukubox .e-str { width: 1px; height: 33px; background-color: #fff; bottom: 1px; right: 11px; -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -o-transform: rotate(10deg); transform: rotate(10deg); }
.ukubox .a-str { width: 1px; height: 10px; background-color: #fff; bottom: 1px; right: 8px; -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -o-transform: rotate(10deg); transform: rotate(10deg); }
.ukubox .fret { width: 24px; height: 1px; left: 0px; background-color: #BBB6B6; border-radius: 1px; }
.ukubox .fret.f1 { top: 14px; }
.ukubox .fret.f2 { top: 29px; }
.ukubox .fret.f3 { top: 41px; }
.ukubox .fret.f4 { top: 52px; }
.ukubox .fret.f5 { top: 62px; }
.ukubox .fret.f6 { top: 71px; }
.ukubox .fret.f7 { top: 79px; }
.ukubox .fret.f8 { top: 86px; }
.ukubox .fret.f9 { top: 92px; }
.ukubox .fret.f10 { top: 97px; }
.dont { bottom: 22px; right: 13px; -webkit-transform: rotate(-18deg); -moz-transform: rotate(-18deg); -o-transform: rotate(-18deg); transform: rotate(-18deg); }
.ukubox .ukuneck { width: 26px; height: 82px; background-color: #CC6600; top: 60px; left: 68px; }
.ukubox .fingerboard { width: 24px; height: 108px; background-color: #a54747; border-top: 2px solid #fff; border-radius: 2px; top: 0px; left: 1px; }
.ukubox .bridge { width: 50px; height: 10px; background-color: #FFF; top: 99px; left: 25px; box-shadow: 0px -5px 15px 0px black inset; }
.ukubox .bridge::after { content: " "; display: block; width: 20px; height: 4px; background-color: rgb(232, 234, 236); position: absolute; bottom: 3px; left: 14px; }
.ukubox .string { width: 1px; height: 184px; background-color: #FFF; }
.ukubox .string.g { top: 0px; left: 4px; }
.ukubox .string.c { top: 0px; left: 9px; }
.ukubox .string.e { top: 0px; left: 14px; }
.ukubox .string.a { top: 0px; left: 19px; }
.ukubox .ukubody { width: 100px; height: 160px; top: 140px; left: 32px; }
.ukubox .hole { width: 40px; height: 40px; border-radius: 40px; background-color: #5D5D81; top: 32px; left: 29px; }
.ukubox .bd-top { width: 80px; height: 70px; top: 0px; left: 10px; border-top-left-radius: 35px 30px; border-top-right-radius: 35px 30px; border-bottom-right-radius: 20px 40px; border-bottom-left-radius: 20px 40px; background-color: #CC6600; }
.ukubox .bd-bottom { width: 100px; height: 80px; top: 70px; left: 0px; border-top-left-radius: 35px 45px; border-top-right-radius: 35px 45px; border-bottom-right-radius: 50px 34px; border-bottom-left-radius: 50px 34px; background-color: #CC6600; }
.ukubox .bd-mid { width: 78px; height: 40px; top: 59px; left: 11px; background-color: #CC6600; }
.bd-mid .mid-left { width: 48px; height: 31px; background-color: #FFFFFF; top: 3px; left: -35px; border-bottom-right-radius: 55px 27px; -webkit-transform: rotate(-31deg); -moz-transform: rotate(-31deg); -o-transform: rotate(-31deg); transform: rotate(-31deg); }
.bd-mid .mid-right { width: 48px; height: 31px; background-color: #FFFFFF; top: 3px; right: -35px; border-bottom-left-radius: 55px 27px; -webkit-transform: rotate(31deg); -moz-transform: rotate(31deg); -o-transform: rotate(31deg); transform: rotate(31deg); }
#home-footer { margin: 1em auto; padding: 0.6em 0; text-align: center; border-top: 2px solid rgb(204, 204, 204); width: 803px; }
#home-footer p a { color: #d25349; text-decoration: none; border-bottom: 1px dotted #a6a5a3; }
@-webkit-keyframes swing {
  20% { -webkit-transform: rotate3d(0, 0, 1, 15deg); transform: rotate3d(0, 0, 1, 15deg) }
  40% { -webkit-transform: rotate3d(0, 0, 1, -10deg); transform: rotate3d(0, 0, 1, -10deg) }
  60% { -webkit-transform: rotate3d(0, 0, 1, 5deg); transform: rotate3d(0, 0, 1, 5deg) }
  80% { -webkit-transform: rotate3d(0, 0, 1, -5deg); transform: rotate3d(0, 0, 1, -5deg) }
  100% { -webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg) }
}
@keyframes swing {
  20% { -webkit-transform: rotate3d(0, 0, 1, 15deg); transform: rotate3d(0, 0, 1, 15deg) }
  40% { -webkit-transform: rotate3d(0, 0, 1, -10deg); transform: rotate3d(0, 0, 1, -10deg) }
  60% { -webkit-transform: rotate3d(0, 0, 1, 5deg); transform: rotate3d(0, 0, 1, 5deg) }
  80% { -webkit-transform: rotate3d(0, 0, 1, -5deg); transform: rotate3d(0, 0, 1, -5deg) }
  100% { -webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg) }
}
@-webkit-keyframes shake-slow {
  0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  2% { -webkit-transform: translate(-1px, 3px) rotate(-1.5deg); }
  4% { -webkit-transform: translate(-4px, 5px) rotate(-1.5deg); }
  6% { -webkit-transform: translate(-1px, 6px) rotate(-0.5deg); }
  8% { -webkit-transform: translate(5px, -4px) rotate(-3.5deg); }
  10% { -webkit-transform: translate(-7px, -3px) rotate(-3.5deg); }
  12% { -webkit-transform: translate(-1px, 8px) rotate(2.5deg); }
  14% { -webkit-transform: translate(3px, -5px) rotate(-1.5deg); }
  16% { -webkit-transform: translate(1px, 0px) rotate(2.5deg); }
  18% { -webkit-transform: translate(-6px, -10px) rotate(-0.5deg); }
  20% { -webkit-transform: translate(3px, -2px) rotate(1.5deg); }
  22% { -webkit-transform: translate(0px, 0px) rotate(-2.5deg); }
  24% { -webkit-transform: translate(-5px, -4px) rotate(1.5deg); }
  26% { -webkit-transform: translate(-1px, 3px) rotate(-3.5deg); }
  28% { -webkit-transform: translate(1px, 1px) rotate(-3.5deg); }
  30% { -webkit-transform: translate(-4px, 8px) rotate(1.5deg); }
  32% { -webkit-transform: translate(-9px, 7px) rotate(-3.5deg); }
  34% { -webkit-transform: translate(4px, -9px) rotate(-2.5deg); }
  36% { -webkit-transform: translate(1px, -6px) rotate(-2.5deg); }
  38% { -webkit-transform: translate(-4px, 0px) rotate(-2.5deg); }
  40% { -webkit-transform: translate(3px, -7px) rotate(0.5deg); }
  42% { -webkit-transform: translate(4px, 4px) rotate(-0.5deg); }
  44% { -webkit-transform: translate(8px, -4px) rotate(-2.5deg); }
  46% { -webkit-transform: translate(9px, 9px) rotate(-3.5deg); }
  48% { -webkit-transform: translate(6px, -8px) rotate(-0.5deg); }
  50% { -webkit-transform: translate(-1px, 4px) rotate(-3.5deg); }
  52% { -webkit-transform: translate(4px, 6px) rotate(-1.5deg); }
  54% { -webkit-transform: translate(9px, -3px) rotate(2.5deg); }
  56% { -webkit-transform: translate(8px, -2px) rotate(-3.5deg); }
  58% { -webkit-transform: translate(-2px, -9px) rotate(-0.5deg); }
  60% { -webkit-transform: translate(-1px, -5px) rotate(2.5deg); }
  62% { -webkit-transform: translate(-8px, 3px) rotate(2.5deg); }
  64% { -webkit-transform: translate(6px, -2px) rotate(-3.5deg); }
  66% { -webkit-transform: translate(-5px, 9px) rotate(-1.5deg); }
  68% { -webkit-transform: translate(3px, 1px) rotate(-0.5deg); }
  70% { -webkit-transform: translate(6px, 4px) rotate(-1.5deg); }
  72% { -webkit-transform: translate(-6px, -5px) rotate(1.5deg); }
  74% { -webkit-transform: translate(-8px, 0px) rotate(-0.5deg); }
  76% { -webkit-transform: translate(-5px, -8px) rotate(1.5deg); }
  78% { -webkit-transform: translate(5px, -3px) rotate(-1.5deg); }
  80% { -webkit-transform: translate(-6px, -3px) rotate(-1.5deg); }
  82% { -webkit-transform: translate(7px, 8px) rotate(-1.5deg); }
  84% { -webkit-transform: translate(-6px, 9px) rotate(0.5deg); }
  86% { -webkit-transform: translate(1px, 8px) rotate(-3.5deg); }
  88% { -webkit-transform: translate(-9px, -2px) rotate(1.5deg); }
  90% { -webkit-transform: translate(4px, -6px) rotate(-1.5deg); }
  92% { -webkit-transform: translate(0px, -1px) rotate(0.5deg); }
  94% { -webkit-transform: translate(2px, -9px) rotate(2.5deg); }
  96% { -webkit-transform: translate(-9px, 1px) rotate(-2.5deg); }
  98% { -webkit-transform: translate(-9px, -5px) rotate(-3.5deg); }
}
@-ms-keyframes shake-slow {
  0% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  2% { -ms-transform: translate(-10px, 5px) rotate(-2.5deg); }
  4% { -ms-transform: translate(7px, 7px) rotate(-3.5deg); }
  6% { -ms-transform: translate(8px, -7px) rotate(-2.5deg); }
  8% { -ms-transform: translate(-8px, 3px) rotate(-0.5deg); }
  10% { -ms-transform: translate(3px, -10px) rotate(-1.5deg); }
  12% { -ms-transform: translate(-9px, -6px) rotate(2.5deg); }
  14% { -ms-transform: translate(-2px, -6px) rotate(-0.5deg); }
  16% { -ms-transform: translate(6px, -1px) rotate(0.5deg); }
  18% { -ms-transform: translate(5px, -1px) rotate(0.5deg); }
  20% { -ms-transform: translate(7px, -5px) rotate(-0.5deg); }
  22% { -ms-transform: translate(-8px, 5px) rotate(2.5deg); }
  24% { -ms-transform: translate(0px, 4px) rotate(2.5deg); }
  26% { -ms-transform: translate(-1px, 2px) rotate(-1.5deg); }
  28% { -ms-transform: translate(-1px, -1px) rotate(1.5deg); }
  30% { -ms-transform: translate(-5px, -5px) rotate(2.5deg); }
  32% { -ms-transform: translate(0px, 7px) rotate(-0.5deg); }
  34% { -ms-transform: translate(-9px, 3px) rotate(-0.5deg); }
  36% { -ms-transform: translate(3px, -5px) rotate(-2.5deg); }
  38% { -ms-transform: translate(5px, 2px) rotate(-0.5deg); }
  40% { -ms-transform: translate(6px, -3px) rotate(0.5deg); }
  42% { -ms-transform: translate(-4px, -6px) rotate(-0.5deg); }
  44% { -ms-transform: translate(9px, 2px) rotate(-3.5deg); }
  46% { -ms-transform: translate(6px, -4px) rotate(1.5deg); }
  48% { -ms-transform: translate(6px, 5px) rotate(2.5deg); }
  50% { -ms-transform: translate(-9px, -2px) rotate(-2.5deg); }
  52% { -ms-transform: translate(-7px, 9px) rotate(-0.5deg); }
  54% { -ms-transform: translate(-5px, -5px) rotate(-3.5deg); }
  56% { -ms-transform: translate(-6px, -10px) rotate(1.5deg); }
  58% { -ms-transform: translate(-3px, 1px) rotate(-3.5deg); }
  60% { -ms-transform: translate(3px, 5px) rotate(2.5deg); }
  62% { -ms-transform: translate(-1px, -8px) rotate(2.5deg); }
  64% { -ms-transform: translate(6px, -7px) rotate(-0.5deg); }
  66% { -ms-transform: translate(-7px, -1px) rotate(0.5deg); }
  68% { -ms-transform: translate(-3px, -4px) rotate(-1.5deg); }
  70% { -ms-transform: translate(-10px, 9px) rotate(2.5deg); }
  72% { -ms-transform: translate(9px, 9px) rotate(2.5deg); }
  74% { -ms-transform: translate(-6px, 8px) rotate(-0.5deg); }
  76% { -ms-transform: translate(-5px, -10px) rotate(-2.5deg); }
  78% { -ms-transform: translate(-7px, -9px) rotate(-0.5deg); }
  80% { -ms-transform: translate(8px, -4px) rotate(2.5deg); }
  82% { -ms-transform: translate(9px, 4px) rotate(-0.5deg); }
  84% { -ms-transform: translate(-1px, -1px) rotate(2.5deg); }
  86% { -ms-transform: translate(-6px, -3px) rotate(0.5deg); }
  88% { -ms-transform: translate(-2px, -4px) rotate(0.5deg); }
  90% { -ms-transform: translate(5px, 1px) rotate(0.5deg); }
  92% { -ms-transform: translate(1px, 2px) rotate(-3.5deg); }
  94% { -ms-transform: translate(-5px, -10px) rotate(1.5deg); }
  96% { -ms-transform: translate(-6px, 3px) rotate(-3.5deg); }
  98% { -ms-transform: translate(-1px, -7px) rotate(-2.5deg); }
}
@keyframes shake-slow {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  2% { transform: translate(6px, -7px) rotate(2.5deg); }
  4% { transform: translate(8px, -8px) rotate(2.5deg); }
  6% { transform: translate(1px, -8px) rotate(-3.5deg); }
  8% { transform: translate(-3px, 4px) rotate(-0.5deg); }
  10% { transform: translate(0px, -3px) rotate(1.5deg); }
  12% { transform: translate(-1px, 2px) rotate(0.5deg); }
  14% { transform: translate(6px, 6px) rotate(-1.5deg); }
  16% { transform: translate(-7px, 4px) rotate(-0.5deg); }
  18% { transform: translate(7px, 8px) rotate(-3.5deg); }
  20% { transform: translate(-6px, 2px) rotate(1.5deg); }
  22% { transform: translate(9px, 5px) rotate(-1.5deg); }
  24% { transform: translate(7px, -2px) rotate(0.5deg); }
  26% { transform: translate(-7px, -10px) rotate(-0.5deg); }
  28% { transform: translate(-10px, -8px) rotate(-1.5deg); }
  30% { transform: translate(8px, 4px) rotate(0.5deg); }
  32% { transform: translate(0px, 4px) rotate(1.5deg); }
  34% { transform: translate(-8px, 6px) rotate(-0.5deg); }
  36% { transform: translate(-5px, 7px) rotate(1.5deg); }
  38% { transform: translate(-4px, -4px) rotate(-1.5deg); }
  40% { transform: translate(9px, 4px) rotate(-1.5deg); }
  42% { transform: translate(9px, -5px) rotate(2.5deg); }
  44% { transform: translate(-5px, -4px) rotate(-2.5deg); }
  46% { transform: translate(7px, -7px) rotate(1.5deg); }
  48% { transform: translate(-5px, 8px) rotate(0.5deg); }
  50% { transform: translate(9px, 1px) rotate(-1.5deg); }
  52% { transform: translate(-9px, -5px) rotate(-3.5deg); }
  54% { transform: translate(-2px, 9px) rotate(1.5deg); }
  56% { transform: translate(6px, -1px) rotate(1.5deg); }
  58% { transform: translate(-6px, 0px) rotate(-0.5deg); }
  60% { transform: translate(3px, 1px) rotate(1.5deg); }
  62% { transform: translate(5px, -7px) rotate(-0.5deg); }
  64% { transform: translate(9px, 2px) rotate(2.5deg); }
  66% { transform: translate(6px, 0px) rotate(-2.5deg); }
  68% { transform: translate(5px, -4px) rotate(-2.5deg); }
  70% { transform: translate(-8px, 5px) rotate(-2.5deg); }
  72% { transform: translate(-6px, -2px) rotate(0.5deg); }
  74% { transform: translate(-3px, 7px) rotate(-3.5deg); }
  76% { transform: translate(-7px, -8px) rotate(-3.5deg); }
  78% { transform: translate(-1px, -2px) rotate(2.5deg); }
  80% { transform: translate(8px, 6px) rotate(-2.5deg); }
  82% { transform: translate(-2px, -9px) rotate(2.5deg); }
  84% { transform: translate(8px, -10px) rotate(-0.5deg); }
  86% { transform: translate(-6px, 0px) rotate(2.5deg); }
  88% { transform: translate(-1px, 9px) rotate(-3.5deg); }
  90% { transform: translate(-7px, 8px) rotate(1.5deg); }
  92% { transform: translate(-10px, -8px) rotate(0.5deg); }
  94% { transform: translate(-8px, 6px) rotate(1.5deg); }
  96% { transform: translate(4px, -9px) rotate(2.5deg); }
  98% { transform: translate(-4px, 9px) rotate(0.5deg); }
}
.danmu { position: fixed; transition: all linear 20s; white-space: nowrap; right: -400px; }